
@{
    ViewBag.Title = "LoginHome";
}

<h2>LoginHome</h2>

<div id="login-register-wrappper">
    <div id="register-wrapper" style="max-width:500px; float:left;">
        <div class="username">
            <label>Nume Utilizator : </label>
            <input id="regiser-user-name" type="text" />
        </div>
        </br>
        <div class="password">
            <label>Parola : </label>
            <input id="register-password" type="password" />
        </div>
        </br>
        <div class="password-confirm">
            <label>Confirmare Parola:</label>
            <input id="register-confirm-password" type="password" />
        </div>
        </br>
        <div class="email-address">
            <label>Adresa email : </label>
            <input id="register-email-address" type="text" />
        </div>
        </br>
        <div class="phone-number">
            <label>Numar telefon : </label>
            <input id="register-phone-number" type="text" />
        </div>
        </br
        <div class="nickname">
            <label>Porecla : </label>
            <input id="register-nick-name" type="text" />
        </div>
        </br>
        <div class="register-button">
            <input id="register" type="button" value="Inregistrare" />
        </div>
        </br>

    </div>

    <div id="login-wrapper">
        <input id="login-user-name" type="text" />
        </br>
        <input id="login-password" type="password" />
        </br>
        <input id="login-button" type="button" value="Autentificare" />
        </br>
    </div>
</div>



