<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="PrsLicConnectionString" connectionString="Server=tcp:prs-lic-server.database.windows.net,1433;Initial Catalog=prs-lic-db;Persist Security Info=False;User ID=prs-lic-administrator;Password=1qaz@WSX;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=3000;" />
    <add name="AzureConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=prslicstorage;AccountKey=5gomNFZt0wDRBSb5nDgJASO5A3kynuvu7Bz3oXRb0i8G/p3nKiUQV08KgSvPtbTSLLcS+iACwn5R6CKMCtmyJA==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  
</configuration>