<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="DbModelContext" connectionString="metadata=res://*/DbModelContext.csdl|res://*/DbModelContext.ssdl|res://*/DbModelContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prs-lic-server.database.windows.net;initial catalog=prs-lic-db;persist security info=True;user id=prs-lic-administrator;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="AzureConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=prslicstorage;AccountKey=5gomNFZt0wDRBSb5nDgJASO5A3kynuvu7Bz3oXRb0i8G/p3nKiUQV08KgSvPtbTSLLcS+iACwn5R6CKMCtmyJA==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  
</configuration>