<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>  
  <add name="DbModelContext" connectionString="data source=tcp:prs-lic-server.database.windows.net,1433;initial catalog=prs-lic-db;persist security info=True;user id=prs-lic-administrator;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>