<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PrsLicConnectionString" connectionString="Server=tcp:prs-lic-server.database.windows.net,1433;Initial Catalog=prs-lic-db;Persist Security Info=False;User ID=prs-lic-administrator;Password=1qaz@WSX;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=3000;" />
  </connectionStrings>
</configuration>